USE [Practica1_RodBot]
GO
/****** Object:  Table [dbo].[Pokemon]    Script Date: 02/17/2018 11:51:42 ******/
DROP TABLE [dbo].[Pokemon]
GO
/****** Object:  Table [dbo].[Pokemon]    Script Date: 02/17/2018 11:51:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemon](
	[Pokemon Master] [nchar](10) NULL
) ON [PRIMARY]
GO
