USE [master]
GO
/****** Object:  Database [PIA2018]    Script Date: 10/03/2018 08:22:22 a. m. ******/
CREATE DATABASE [PIA2018]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PIA2018', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\PIA2018.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PIA2018_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\PIA2018_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIA2018].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PIA2018]
GO
USE [PIA2018]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 10/03/2018 08:22:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[ID_Departamento] [uniqueidentifier] NOT NULL,
	[Nombre_Departamento] [nchar](30) NULL,
	[ID_Ubicacion] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Departamentos] PRIMARY KEY CLUSTERED 
(
	[ID_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 10/03/2018 08:22:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[ID_Empleado] [uniqueidentifier] NOT NULL,
	[ID_Empleo] [uniqueidentifier] NOT NULL,
	[ID_Departamento] [uniqueidentifier] NOT NULL,
	[Nombre] [nchar](30) NOT NULL,
	[Apellido] [nchar](30) NOT NULL,
	[Teléfono] [int] NOT NULL,
	[email] [nchar](30) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Edad]  AS (datediff(year,[FechaNacimiento],getdate())),
	[Salario] [money] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[ID_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleos]    Script Date: 10/03/2018 08:22:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleos](
	[ID_Empleo] [uniqueidentifier] NOT NULL,
	[Titulo_Empleo] [nchar](30) NOT NULL,
	[salario_min] [money] NOT NULL,
	[salario_max] [money] NULL,
 CONSTRAINT [PK_Empleos] PRIMARY KEY CLUSTERED 
(
	[ID_Empleo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial_Empleo]    Script Date: 10/03/2018 08:22:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial_Empleo](
	[ID_Empleado] [uniqueidentifier] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[ID_Empleo] [uniqueidentifier] NOT NULL,
	[AñosTrabajando]  AS (datediff(year,[FechaInicio],getdate()))
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 10/03/2018 08:22:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[ID_Ubicacion] [uniqueidentifier] NOT NULL,
	[Direccion] [nchar](20) NOT NULL,
	[Ciudad] [nchar](20) NOT NULL,
	[Estado] [nchar](20) NOT NULL,
	[CodigoPost] [int] NOT NULL,
 CONSTRAINT [PK_Ubicacion] PRIMARY KEY CLUSTERED 
(
	[ID_Ubicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departamentos]  WITH CHECK ADD  CONSTRAINT [FK_Departamentos_Ubicacion] FOREIGN KEY([ID_Ubicacion])
REFERENCES [dbo].[Ubicacion] ([ID_Ubicacion])
GO
ALTER TABLE [dbo].[Departamentos] CHECK CONSTRAINT [FK_Departamentos_Ubicacion]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Departamentos] FOREIGN KEY([ID_Departamento])
REFERENCES [dbo].[Departamentos] ([ID_Departamento])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Departamentos]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Empleos] FOREIGN KEY([ID_Empleo])
REFERENCES [dbo].[Empleos] ([ID_Empleo])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Empleos]
GO
ALTER TABLE [dbo].[Historial_Empleo]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Empleo_Empleado] FOREIGN KEY([ID_Empleado])
REFERENCES [dbo].[Empleado] ([ID_Empleado])
GO
ALTER TABLE [dbo].[Historial_Empleo] CHECK CONSTRAINT [FK_Historial_Empleo_Empleado]
GO
ALTER TABLE [dbo].[Historial_Empleo]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Empleo_Empleos] FOREIGN KEY([ID_Empleo])
REFERENCES [dbo].[Empleos] ([ID_Empleo])
GO
ALTER TABLE [dbo].[Historial_Empleo] CHECK CONSTRAINT [FK_Historial_Empleo_Empleos]
GO
USE [master]
GO
